:root {
  --textBlue: #203760;
  font-size: 16px;
  --blue: #203760;
  --dblue: rgb(15, 15, 78);
  --lblue: #f5f3fa;
  --border-fade: #e8eaee;
}

.main_content {
  /* height: 100vh; */
  /* background-color: wheat; */

  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 40px 40px;
  flex: 1;
  /* margin-left: 0; */
  transition: margin-left 0.3 ease;
}

.shifted {
  margin-left: 400px;
  margin-left: clamp(100px, 35vw, 400px);
}

img {
  object-fit: cover;
}

body {
  font-family: "Inter", sans-serif;
  
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.layout {
  overflow-x: hidden;
  display: flex;
}

@media (max-width: 1303px) {
  .shifted {
    margin-left: 300px;
  }
}

@media (max-width: 1239px) {
  .shifted {
    margin-left: 300px;
  }
}

@media (max-width: 975px) {
      .sidebar {
        display: none;
      }
      
      .shifted {
        margin-left: auto;
      }

      .header {
        margin-left: 0;
      }
      
      .single_grid {
        grid-template-columns: 1fr 2fr;
      }
}

@media (max-width: 693px) {
    :root {
        font-size: 14px;
    }

    .main_content {
        margin: 0 auto;
        padding: 6rem 0px 180px;
      }

      .small_grid {
        grid-template-columns: 1fr;
      }
}
