:root {
  --textBlue: #203760;
  font-size: 16px;
  --blue: #203760;
  --dblue: rgb(15, 15, 78);
  --lblue: #f5f3fa;
  --border-fade: #e8eaee;
}

.overlay {
  position: absolute;
  background-color: red;
  width: 100vw;
  height: 100vh;
  z-index: 102;
  display: flex;
  flex-grow: 1;
  background: rgb(0, 0, 0, 0.6);
  /* overflow: hidden; */
}

.main_content {
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 40px 40px;
  flex: 1;

  transition: margin-left 0.3 ease;
}

.main_content::-webkit-scrollbar {
  display: none;
}

.shifted {
  margin-left: 400px;
  margin-left: clamp(100px, 35vw, 400px);
}

img {
  object-fit: cover;
}

body {
  font-family: "Inter", sans-serif;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.layout {
  overflow-y: hidden;
  display: flex;
}

@media (max-width: 1303px) {
  .shifted {
    margin-left: 300px;
  }
}

@media (max-width: 1239px) {
  .shifted {
    margin-left: 300px;
  }
}

@media (max-width: 975px) {
  .sidebar {
    display: none;
  }

  .shifted {
    margin-left: auto;
  }

  .header {
    margin-left: 0;
  }

  .single_grid {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 693px) {
  :root {
    font-size: 14px;
  }

  .main_content {
    margin: 0 auto;
    padding: 6rem 0px 180px;
    overflow-y: scroll;
  }

  .main_content_overlayed {
    overflow-y: hidden;
  }

  .small_grid {
    grid-template-columns: 1fr;
  }
}
