:root {
    --textBlue: #203760
}
.main-content {
    /* height: 100vh; */
    /* background-color: wheat; */

     max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

img {
    object-fit: cover;
}