.profile_pic {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 5px solid #1f375d;
    border: 5px solid #154a75;
    
}

.profile_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    padding-top: 2rem;
}


.profile_section_one {
    background-color: #fafbff;
    /* background-color: rgb(31, 55, 93, 10%); */
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.section_one_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    
}

.section_one_head_text {
    text-align: center;
}

.section_one_head_text P:first-of-type {
    font-size: 20px;
    font-weight: 700;
    color: #36454f;
}

.section_one_head_text P:last-of-type {
    color: #848e95;
}



.profile_card {
    border: 1px solid var(--border-fade);
    border-radius: 10px;
    background-color: #fff;
    padding-bottom: 1.7rem;
    padding-top: 1rem;
}

.profile_card legend {
     border-bottom: 1px solid var(--border-fade);
     padding: 1.5rem 2rem;
     font-weight: 700;
}

.form_group_wrapper {
    margin: 0 2rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

/* Basic styling for the form group */
.form_group {
    position: relative;
    margin: 20px 0;
  }
  
  /* Styling for the input field */
  .form_group input,
  .form_group textarea {
    width: 100%;
    padding: 15px 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background: none;
  }
  
  .form-group input::placeholder {
    color: transparent; /* Hide placeholder text */
  }

  /* Styling for the label */
  .form_group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: white;
    padding: 0 5px;
    color: #999;
    font-size: 1rem;
    transition: 0.3s ease;
    pointer-events: none;
  }
  
  /* When the input is focused or has content, move the label */
  .form_group input:focus + label,
  .form_group textarea:focus + label,
  .form_group input:not(:placeholder-shown) + label,
  .form_group textarea:not(:placeholder-shown) + label 
  {
    top: -1px;
    left: 10px;
    font-size: .8rem;
    color: var(--textBlue);
    /* transform: translateY(10%); */

  }
  
  @media (max-width: 1239px) {
    .single_grid {
      grid-template-columns: 1fr 2fr;
    }
  }
  
  @media (max-width: 975px) {
    .single_grid {
      grid-template-columns: 1fr 2fr;
    }
  }

  @media (max-width: 768px) { /* Breakpoint for smaller screens */
    .profile_container {
      grid-template-columns: 1fr; /* Stack into a single column */
    }

    .profile_section_two {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile_section_one {
        background-color: #fff;
    }
  }

  @media (max-width: 693px) { /* Breakpoint for smaller screens */
    .profile_section_one {
        padding: 2rem 0;
    }

    .form_group_wrapper {
        margin: 0 .2rem;
        padding: 0 1rem;
    }

    .profile_card legend {
        border-bottom: 1px solid var(--border-fade);
        padding: 1rem 1.5rem;
   }

   .profile_pic {
    width: 150px;
    height: 150px;
}
  }